@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}
body{
    background-image: linear-gradient(to top,#F25A38,#F28157,#F2C6A0);
    background-attachment: fixed;

}


p{
    text-align: justify;
}

h1{
    color: #F25A38;
    text-align: center;
    text-shadow: 1px 1px 0px #4d1c11d8;
}
h2{
    color:#038C8C ;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #6124169c;
}